<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="home-form5" class="list">
      <multiselect
        header-text="Tipos de Monumentos"
        items="categories"
        text-property="value"
        value-property="id"
        is-translate="false"
        text="Tipos de monumentos"
        value-changed="onValueChanged(value)"
        default-value="default">
      </multiselect>
      <ion-item class="range range-positive" id="home-range1">Distância
        <input type="range" min="0" max="20" step="1" ng-model="distanceValue" ng-init="distanceValue=5" ng-change="onDistanceChanged(distanceValue)">
        <div>Total: {{distanceValue}} Km</div>
      </ion-item>
      <button id="home-button4" class="button button-positive  button-block icon ion-search" ng-click="searchClick()"> Pesquisar</button>
    </form>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-list id="home-list5">
      <ion-item class="item-thumbnail-left" id="home-list-item16" ng-repeat="item in items">
        <img src="{{item.photo}}">
        <h2>{{item.name}}</h2>
        <p>Rating: {{item.rating}}</p>
      </ion-item>
    </ion-list>
    <div id="map" hidden></div>
  </ion-content>
</ion-view>
