<ion-view title="My Profile" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <ion-list id="myProfile-list4">
      <ion-item class="item-avatar" id="myProfile-list-item14" ui-sref="menu.editProfile">
        <h2>Edit profile</h2>
        <p>Personal Name</p>
      </ion-item>
      <ion-item class="item-icon-left" id="myProfile-list-item18" ui-sref="menu.preferences">
        <i class="icon ion-android-settings"></i>Preferences</ion-item>
      <ion-item class="item-icon-left" id="myProfile-list-item17" ui-sref="menu.routes">
        <i class="icon ion-navigate"></i>My Routes</ion-item>
      <ion-item class="item-divider" id="myProfile-list-item-divider3"> </ion-item>
      <ion-item id="myProfile-list-item8" ng-click="logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
